<h2>User info</h2>

<%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table>
      <tbody>
        <tr>
          <td>name</td>
          <td><%= current_user.name %></td>
        </tr>
        <tr>
          <td>introduction</td>
          <td><%= current_user.introduction %></td>
        </tr>
      </tbody>
    </table>
<%= link_to "編集",edit_user_path(current_user.id) %>

<h2>New book</h2>
<%= form_for(@book,url: '/books') do |f| %>
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
    <br>
      <%= f.submit 'Create Book' %>
<% end %>

<h2>Users</h2>
<% @users.each do |user| %>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  	  <tr>
        <th><%= attachment_image_tag current_user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %></th>
        <th><%= user.name %></th>
        <th><%= link_to "Show",user_path(user.id) %></th>
      </tr>
    </tbody>
  </table>
<% end %>
