<div class="container"> 
<div class="row">

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div class="col-xs-3">
  <h2>User info</h2>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr>
            <td>name</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>introduction</td>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    <%= link_to "",edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
<h2>New book</h2>
  <%= form_for(@books,url: '/books') do |f| %>
    <p>Title</p>
      <%= f.text_field :title,class: "form-control" %>
    <p>Opinion</p>
      <%= f.text_area :body,class: "form-control" %>
    <br>
      <%= f.submit 'Create Book',class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<div class="col-xs-9">
  <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
     <tbody>
    	<tr>
        <th><%= attachment_image_tag current_user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %><br>
          <%= link_to "#{@user.name}",user_path(@user.id) %></th>
        <th><%= link_to "#{@book.title}",book_path(@book.id) %></th>
        <th><%= @book.body %></th>
      <% if @user == current_user %>
        <th><%= link_to "Edit",edit_book_path(@book.id) %></th>
        <th><%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: '本当に消しますか？' }%></th>
      <% end %>
    </tbody>
    </table>
  </div>
 </div>
</div>
</div>
