<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <title>Bookers2</title>
<div class="row">
<nav class="navbar navbar-inverse ">
<div class="col-xs-3">
<h2 class="title">Bookers</h2>
</div>
<div class="userif">
<div class="text-right">
<div class="col-xs-9">
  <% if user_signed_in? %>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <%= link_to "Home", user_path(current_user.id),class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <%= link_to "Users", users_path,class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    <%= link_to "Books", books_path,class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
    <%= link_to "logout", destroy_user_session_path, method: :delete,class: "text-muted" %>
  </button>
    <% else %>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-home" aria-hidden="true"> </span>
    <%= link_to "Home", root_path,class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    <%= link_to "about",about_path,class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <%= link_to "sign up", new_user_registration_path,class: "text-muted" %>
  </button>
  <button class="btn btn-link" type="button">
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
    <%= link_to "login", new_user_session_path, notice: "Signed out successfully.",class: "text-muted" %>
  </button>
  <% end %>
</div>
</nav>

<div class="container"> 
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="text-right">
      <p>CopyRight Infratop.inc</p>
    </div>
  </footer>
  </div>
  </div>
</div>
</div>
</html>


